@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-shadow: #e5e7eb;
  --my-sky: #3b82f6;
  --my-grass: #10b981;
  --my-bone: #f9fafb;
  --my-main: #7e702f;
  --my-mainS: #732625;
  --my-complementary:#895029
}

.body {
  font-family: "Pangolin", cursive;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

.main-tool-bar {
  height: 80px;
  color: #0e100f;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;
  z-index:50;
}

.main-tool-bar--scrolled {
  height: 40px;
}

.scrollable-area {
  height: 200vh;
}
